<div class="container">

<div class="welcome-container">
  <div class="title-bar">
    <h2 class="welcome-title">Register</h2>
  </div>
  <div class="welcome-text">
    <h2>Welcome to Pride Land</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="apply-container">
  <h2 class="apply-title">Rilwan Billboard</h2>

  <div class="title-desc">
    <p class="advert-type">Digital</p>
    <p class="divider"></p>
    <p>Board</p>
    <p class="divider"></p>
    <p class="location">Victoria Island, Lagos, Nigeria</p>
  </div>

  <p>Upload Purchase Order</p>

  <div class="files-bar">
    <div class="file-section">
      <div class="file">
        <span class="file-base">
          <img src="#">
        </span>
        <p>Gravit_Clien_Pitch_V2.pdf</p>
      </div>
      <div class="file-edit">
        <p>+ Add Note</p>
        <p>Edit</p>
        <p>Remove</p>
      </div>
    </div>
    <div class="add-file">
      <p>+ Add Files</p>
    </div>
  </div>

  <p class="apply-button">SEND</p>
</div>

</div>