<div class="footer">
  <div class="footer-content">
    <ul class="footer-column">
      <li class="footer-column-header">Company</li>
      <li>About</li>
      <li>Press</li>
      <li>Terms & Conditions</li>
    </ul>
    <ul class="footer-column">
      <li class="footer-column-header">Media</li>
      <li>Billboards</li>
      <li>Digital Boards</li>
      <li>Mobile Screens</li>
      <li>Wall Drape</li>
      <li>LED Cube</li>
      <li>Gantry</li>
      <li>Wall Screens</li>
      <li>Others</li>
    </ul>
    <ul class="footer-column">
      <li class="footer-column-header">PRO Ads</li>
      <li>Cancellation</li>
      <li>Contact US</li>
    </ul>
    <div class="footer-details">
      <div class="socials">
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-vimeo"></i>
        <p>Copyright @ 2018, Prideland Limited
          <br> All right reserved</p>
      </div>
    </div>
  </div>
</div>