<div class="nav">
  <div class="logo-group" routerLink="/">
    <img src="assets/shape.png">
    <img src="assets/pride-land.png">
  </div>
  <ul class="menu">
      <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/boards">Boards</a>
        </li>
        <li>
          <a routerLink="/aboutus">About Us</a>
        </li>
        <li>
          <a routerLink="/faq">FAQs</a>
        </li>
    <li class="menu-button button-yellow">
      <a routerLink="/campaign">Start a Campaign</a>
    </li>
  </ul>
</div>
