<div class="nav">
  <div class="logo-group" routerLink="/">
    <img src="../../assets/shape.png">
    <img src="../../assets/pride-land.png">
  </div>
  <ul class="menu">
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a href="#">Not Linked</a>
    </li>
    <li>
      <a routerLink="/search">Search</a>
    </li>
    <li>
      <a routerLink="/auth">Auth</a>
    </li>
    <li class="sell-board button button-yellow">
      <a routerLink="/campaign">Start a Campaign</a>
    </li>
  </ul>
</div>
