.nav, .logo-group, .menu {
	display: flex;
	align-items: center;
}

.nav {
	justify-content: space-between;
	padding: 1.5em 4em;
}

.logo-group {
	cursor: pointer;
}

.logo-group img {
    margin-right: .5em;
}

.menu {
	list-style-type: none;
}

.menu li {
	margin-right: 1.25em;
}

.menu li a {
	text-decoration: none;
	color: #1d1c21;
}

.menu-button {
	width: 15em;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.menu .button-yellow {
	background: #ffbd00;
}

.menu .button-yellow:hover {
	background: #1d1c21;
}

.menu .button-yellow:hover a {
	color: #ffffff;
}
