<div class="slide">

  <div class="header">
    <app-header-white></app-header-white>
  </div>
  
  <img class="slide-img" src="assets/background.png">
  <div class="jumbo-pack">
    <div class="jumbo-pack-content">
      <h1 class="jumbo-text whitish">Targeted
      <br> Outdoor
      <br> Advertising</h1>
      <p class="whitish">Reach your exact target audience and drive sales with premium
        <br>performance display ads, powered by precise data</p>

      <form [formGroup]="myform" (ngSubmit)="queryDB(myform)">
        <input type="text" class="location" name="area" formControlName="area" placeholder="Enter a location for your advert">
        <select class="adtype" name="adtype" formControlName="adtype">
          <option value="">Choose Category</option>
          <option value="1">Board</option>
          <option value="2">PRO-ads</option>
          <!-- <option *ngFor="let ad of adtypes" [value]="ad">{{ ad }}</option> -->
        </select>
        <button type="submit" class="submit">GO!</button>
        <!--   
          (click)="filterAssets()" routerLink="/search"
           (onSubmit)="goToSearch()" [formGroup]="myform"
           formControlName="adtype" formControlName="location"
          <pre [style.color]="white">{{myform.value | json}}</pre>
            routerLink="/manage"
           {{myform | json}}
        -->
      </form>
      <a>Talk to a Media Planner</a>
    </div>
  </div>
</div>
<!-- <p>Form value {{ JSON.stringify(myform.value) | json }} </p> -->
<div class="works-section" class="section-head">
  <div class="top-bar">
    <div class="top-bar-content">
      <div class="side-lines"></div>
      <h1 class="jumbo-text">How It Works</h1>
      <div class="side-lines"></div>
    </div>
    <p class="sub-title">Everything you need for effective advertising are all done for you</p>
  </div>
  <div class="works-section-group">
    <div class="works-section-content a">
      <div class="fontawesome whitish">
        <i class="fas fa-search"></i>
      </div>
      <h4>Search for your media preference</h4>
      <p>Sleek low profile that can be wall or floor mounted includes batteries and power electronics all in one small enclosure</p>
    </div>
    <div class="works-section-content b">
      <div class="fontawesome whitish">
        <i class="fas fa-microphone"></i>
      </div>
      <h4>Make your request</h4>
      <p>Sleek low profile that can be wall or floor mounted includes batteries and power electronics all in one small enclosure</p>
    </div>
    <div class="works-section-content c">
      <div class="fontawesome whitish">
        <i class="fas fa-link"></i>
      </div>
      <h4>A media buyer works with you</h4>
      <p>Sleek low profile that can be wall or floor mounted includes batteries and power electronics all in one small enclosure</p>
    </div>
    <div class="works-section-content d">
      <div class="fontawesome whitish">
        <i class="fas fa-handshake"></i>
      </div>
      <h4>Close the deal</h4>
      <p>Sleek low profile that can be wall or floor mounted includes batteries and power electronics all in one small enclosure</p>
    </div>
  </div>
</div>

<div class="outdoor-media" class="section-head">
  <div class="top-bar">
    <h1 class="jumbo-text">Explore Our Outdoor media</h1>
    <p class="sub-title">View all our Out-of-Home media according to their number of locations across the countryu</p>
  </div>
  <div class="outdoor-media-group">
    <div class="section-aside right-30">
      <div class="left-row-one down-30">
        <div class="img-large-h">
          <p class="desc-text">Flag Poles
            <br>
            <span>2965</span>
          </p>
        </div>
        <!-- <img src="assets/wall screens.png" alt="" class="img-large-h"> -->
      </div>
      <div class="left-row-two down-30">
        <div class="img-small">
          <p class="desc-text">Flag Poles
            <br>
            <span>2,965</span>
          </p>
        </div>
        <div class="img-small">
          <p class="desc-text">Gantry
            <br>
            <span>1,356</span>
          </p>
        </div>
        <!-- <div><img src="assets/mobile screens.png" alt="" class="img-small"></div> -->
        <!-- <div><img src="assets/mobile screens.png" alt="" class="img-small"></div> -->
      </div>
      <div class="left-row-three">
        <div class="img-small">
          <p class="desc-text">Others
            <br>
            <span>2,965</span>
          </p>
        </div>
        <div class="img-small">
          <p class="desc-text">LED Cube
            <br>
            <span>2,965</span>
          </p>
        </div>
        <!-- <img src="assets/mobile screens.png" alt="" class="img-small"> -->
        <!-- <img src="assets/mobile screens.png" alt="" class="img-small"> -->
      </div>
    </div>
    <div class="section-aside">
      <div class="right-row-one down-30">
        <div class="right-row-one-group">
          <div class="img-small down-30">
            <p class="desc-text">Mobile Screens
              <br>
              <span>325</span>
            </p>
          </div>
          <div class="img-small">
            <p class="desc-text">Wall Drape
              <br>
              <span>479</span>
            </p>
          </div>
          <!-- <img src="assets/mobile screens.png" alt="" class="img-small"> -->
          <!-- <img src="assets/mobile screens.png" alt="" class="img-small"> -->
        </div>
        <div class="img-large-v">
          <p class="desc-text">Flag Poles
            <br>
            <span>2965</span>
          </p>
        </div>
        <!-- <img src="assets/digital screens.png" alt="" class="img-large-v"> -->
      </div>
      <div class="right-row-two">
        <div class="img-large-h">
          <p class="desc-text">Flag Poles
            <br>
            <span>2965</span>
          </p>
        </div>
        <!-- <img src="assets/wall screens.png" alt="" class="img-large-h"> -->
      </div>
    </div>
  </div>
</div>

<div class="why-pride" class="section-head">
  <div class="top-bar">
    <div class="top-bar-content">
      <div class="side-lines"></div>
      <h1 class="jumbo-text">Why Use Our Boards?</h1>
      <div class="side-lines"></div>
    </div>
    <p class="sub-title">View all our Out-of-Home media according to their number of locations across the country</p>
  </div>
  <div class="stand-prem">
    <div class="prem">
      <img class="prem-bg" src="assets/background.png" alt="">
      <div class="prem-content whitish">
        <h1 class="jumbo-text">Premium</h1>
        <div class="side-lines"></div>
        <p> Access to realtime demographic data
          <br> Dedicated media buyer
          <br> 24/7 Customer support
          <br> Geo-fenced campaigns
          <br> Reporting dashboard to show CTR and impressions
          <br> Flash SMS to geo-fenced mobile phones
          <br> Free consultation
          <br> Government approved </p>
      </div>
      <div class="badge">
        <img src="assets/award.png" alt="">
      </div>
    </div>
    <div class="stand">
      <img class="stand-bg" src="assets/background.png" alt="">
      <div class="stand-content whitish">
        <h1 class="jumbo-text">Standard</h1>
        <div class="side-lines"></div>
        <p> Reporting dashboard
          <br> Dedicated media buyer
          <br> 24/7 Customer support
          <br> Free consultation
          <br> Government approved </p>
      </div>
    </div>
  </div>
</div>

<div class="campaign-slider">
  <div class="start-campaign">
    <img src="assets/proad.png" alt="">
    <div class="start-campaign-content">
      <h2 class="jumbo-small whitish">Reach the right people
        <br>everytime with our
        <br>PRO-ad tool</h2>
      <p class="whitish">With our PRO-ad tool, you can reach your chosen
        <br> audiene of specific demography across multiple devices
        <br> at your preferred location </p>
      <div class="button button-white">
        <p>Start a Campaign</p>
      </div>
    </div>
  </div>
</div>

<div class="audience-channels">
  <p class="audience-channels-title">We provide access to a wide range of
    <br>audience channels</p>
  <div class="audience-channel-list">
    <div class="list-row">
      <div class="">
        <i class="fas fa-search"></i>
        <p>Automotive</p>
      </div>
      <div class="">
        <i class="fas fa-search"></i>
        <p>Beauty</p>
      </div>
      <div class="">
        <i class="fas fa-search"></i>
        <p>Boating</p>
      </div>
      <div class="">
        <i class="fas fa-search"></i>
        <p>Books</p>
      </div>
      <div class="">
        <i class="fas fa-search"></i>
        <p>Business</p>
      </div>
      <div class="all-borders">
        <i class="fas fa-search"></i>
        <p>Business Opportunities</p>
      </div>
    </div>
  </div>
</div>

<div class="pre-footer section-head">
  <div class="pre-footer-content">
    <!-- <img src="assets/logo.png" alt=""> -->
    <div>
      <h1 class="jumbo-text whitish">Do you Own any Outdor Assets?</h1>
      <h5 class="whitish">Find out why over 1,432 Asset Owners trust Prideland.ng</h5>
      <p>
        <span class="button button-yellow">Add Your Media Asset</span>
      </p>
    </div>
  </div>
</div>