.nav, .logo-group, .menu {
	display: flex;
	align-items: center;
}

.nav {
	justify-content: space-between;
	padding: 1.5em 4em;
}

.logo-group {
    cursor: pointer;
}

.logo-group img {
    margin-right: .5em;
}

.menu {
    list-style-type: none;
    margin-right: 0em;
}

.menu li {
	margin-right: 1.25em;
}

.menu li a {
	text-decoration: none;
	color: #1d1c21;
}

.menu-button {
	width: 15em;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	text-transform: uppercase;
	cursor: pointer;
}

.menu .button-white {
    background: #ffffff;
}

.menu .button-white:hover {
	background: #1d1c21;
}

.menu .button-white:hover a {
	color: #ffffff;
}

/* 

    End of .NAV Styling

*/

.all {
    padding-right: 40em;
}

.container {
    height: 100vh;
    overflow: hidden;
    /* position: absolute;
    left: -200px; */
}

.manage-bg {
    width: 100%;
    position: relative;
    margin-top: -10em;
}

.header {
    position: absolute;
    width: 100%;
    top: 0em;
}

.manage-content, .manage-tagline, 
.manage-buttons {
    position: absolute;
    text-align: right;
    margin-right: 5em;
    right: 0em;
}

.manage-content {
    top: 15%;
    width: 30%;
    color: #ffffff;
}

.manage-content h1 {
    font-size: 3em;
    font-weight: 400;
}

.manage-tagline {
    top: 40%;
    width: 25%;
    color: #ffffff;
}

.manage-tagline p {
    line-height: 1.5em;
    font-size: 100%;
}

.manage-buttons {
    top: 60%;
    width: 18%;
    color: #ffffff;
    align-items: center;
}

.manage-buttons p {
    font-size: 100%;
    height: 2.5em;
    background: #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.manage-buttons p:hover {
    border: 1px solid #ffffff;
    background: none;
}

.media-buyer-form {
    position: absolute;
    top: 0em;
    right: 0em;
    background: #1d1c21;
    width: 30em;
    height: 100vh;
    transition: 0.3s ease-in-out;
}

.form-all {
    padding: 8em 4em 0em 3em;
}

.form-all div:first-child {
    display: none;
}

.media-buyer-form p {
    color: #ffffff;
    margin-bottom: .5em;
}

.media-buyer-form select {
    border: none;
    border-radius: none;
    outline: none;
    background: none;
    text-shadow: none;
    color: #ffffff;
    width: 100%;
    height: 2.5em;
    font-size: 1em;
    opacity: 0.4;
}

.select {
    border-bottom: 1px solid #979797;
    opacity: 0.4;
}

 .select:hover {
    opacity: 1;
}

.media-buyer-form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #979797;
    height: 2.5em;
    background: none;
    font-size: 1em;
    width: 100%;
    opacity: 0.4;
}

.media-buyer-form input:active,
.media-buyer-form input:focus,
.media-buyer-form select:active,
.media-buyer-form select:focus {
    outline: none;
    background: none;
    -webkit-caret-color: #ffbd00;
    -moz-caret-color: #ffbd00;
    caret-color: #ffbd00;
    opacity: 1;
}

.media-buyer-form button {
    outline: none;
    border: none;
    margin-top: 3em;
    background: #ffbd00;
    color: #1d1c21;
    border-radius: 4px;
    font-size: 1em;
    padding: .75em 2em;
    cursor: pointer;
}

.form-all button:hover {
    background: none;
    border: 1px solid #ffbd00;
    color: #ffbd00
}

.selected .title {
    font-weight: 900;
    opacity: .5;
}

.selected div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.selected div p {
    margin-right: .5em;
    margin-top: 0em;
    opacity: .5;
}

.selected div .divider {
    border-right: 2px solid #ffffff;
    opacity: .4;
}

.selected .change {
    color: #ffbd00;
    text-decoration: underline;
    font-size: 80%;
    opacity: 0.6;
    margin-top: 0em;
    cursor: pointer;
    display: inline-block;
}

.selected .change:hover {
    transition: 100ms ease-in-out;
    opacity: 0.8;
}

/* .overlay {
    visibility: visible;
    background: #000000;
    opacity: .75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.4);
} */

/* .overlay:target {
	opacity:1;
    pointer-events: auto;
    display: block;
} */

/* .overlay-content {
    position: relative;
    opacity: 1;
    width: 50%;
    height: 50%;
    margin: 15% auto;
    padding: 3em;
    background: #ffffff;
    z-index: 5;
} */
/* 
.overlay-content img {
    margin-bottom: 3em;
}

.overlay-content h1 {
    margin-bottom: 3em;
} */
