<div class="header">
  <app-header></app-header>
</div>

<div class="product-container">
  <div class="product-wrapper">
    <div class="product-wrapper-top">
      <div class="product-img">
        <img class="main-img-lg" src="{{ asset.data.attributes.asset_image_3 }}">
        <!-- <img class="certified-lg show" src="assets/award.png"> 
          src="assets/background.png" -->
      </div>
      <div class="product-details">
        <h2>{{ asset.data.attributes.title }}</h2>
        <div class="type-location">
          <p>{{ asset.data.attributes.asset_type_group.title }}</p>
          <p class="divider-lg">|</p>
          <p>{{ asset.data.attributes.category.title }}</p>
          <p class="divider-lg">|</p>
          <p>{{ asset.data.attributes.location }}</p>
        </div>
        <div class="main-desc">
          <p class="bold">Description</p>
          <p class="normal">{{ asset.data.attributes.description }}</p>
        </div>
        <div class="size-price">
          <div>
            <p class="bold">Size</p>
            <!-- {{ asset.attributes. }} -->
            <p class="normal">{{ asset.data.attributes.asset_specification }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Bidding Price</p>
            <p class="normal">{{ asset.data.attributes.minimum_price }}</p>
          </div>
        </div>
        <div class="crowd-eyes">
          <div>
            <p class="bold">Crowd Analytics</p>
            <p class="normal">{{ asset.data.attributes.crowd_analytics }} per hour</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Eyeballs per Day</p>
            <p class="normal">{{ asset.data.attributes.eyeballs_per_day }}</p>
          </div>
        </div>
        <div class="audience-time">
          <div>
            <p class="bold">Proposed Audience Pack</p>
            <p class="normal">{{ asset.data.attributes.proposed_audience_pack }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Audience Dwell Time</p>
            <p class="normal">RAW - 5 mins per Individual</p>
          </div>
        </div>
        <div class="map-crowd">
          <div>
            <p class="bold">Map Coordinates</p>
            <p class="normal">{{ asset.data.attributes.latlng }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Crowd Analysis</p>
            <p class="normal">RAW - Plenty people dey sha</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-wrapper-bottom">
      <div>
        <p class="normal bid-button" [routerLink]="['/manage', asset.id]">
          Starting From &nbsp; <span> {{ asset.data.attributes.minimum_price | currency: 'NGN' }}</span>
        </p>
        <!-- <p>♥</p> -->
      </div>
      <!-- <p>Star</p> -->
    </div>
  </div>

  <!-- <div class="add-on">
    <div class="add-on-top">
      <p class="side-line"></p>
      <h2>Add Ons</h2>
      <p class="side-line"></p>
    </div>
    <div class="add-on-list">
      <img src="assets/background.png">
      <img src="assets/background.png">
      <img src="assets/background.png">
    </div>
  </div>

  <div class="similar-options">
    <div class="similar-options-top">
      <p class="side-line"></p>
      <h2>Similar Options</h2>
      <p class="side-line"></p>
    </div>
    <div class="similar-options-list">
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <img class="certified show" src="assets/award.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
    </div> 
  </div>-->
</div>