<div class="header">
  <app-header></app-header>
</div>

<div class="product-container">
  <div class="product-wrapper">
    <div class="product-wrapper-top">
      <div class="product-img">
        <img class="main-img-lg" src="assets/background.png">
        <img class="certified-lg show" src="assets/award.png">
      </div>
      <div class="product-details">
        <h2>Rilwan Billboard</h2>
        <div class="type-location">
          <p>Digital</p>
          <p class="divider-lg">|</p>
          <p>Board</p>
          <p class="divider-lg">|</p>
          <p>Victoria Island, Lagos, Nigeria</p>
        </div>
        <div class="main-desc">
          <p class="bold">Description</p>
          <p class="normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.</p>
        </div>
        <div class="size-price">
          <div>
            <p class="bold">Size</p>
            <p class="normal">2049m x 1987m x 9000m</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Bidding Price</p>
            <p class="normal">From N350,000,000</p>
          </div>
        </div>
        <div class="crowd-eyes">
          <div>
            <p class="bold">Crowd Analytics</p>
            <p class="normal">750,000 per hour</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Eyeballs per Day</p>
            <p class="normal">NIL</p>
          </div>
        </div>
        <div class="audience-time">
          <div>
            <p class="bold">Proposed Audience Pack</p>
            <p class="normal">NIL</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Audience Dwell Time</p>
            <p class="normal">5 mins per Individual</p>
          </div>
        </div>
        <div class="map-crowd">
          <div>
            <p class="bold">Map Coordinates</p>
            <p class="normal">2049m x 1987m x 9000m</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Crowd Analysis</p>
            <p class="normal">Plenty people dey sha</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-wrapper-bottom">
      <div>
        <p class="normal bid-button">Starting From
          <span>N5,000,000</span>
        </p>
        <!-- <p>♥</p> -->
      </div>
      <!-- <p>Star</p> -->
    </div>
  </div>

  <!-- <div class="add-on">
    <div class="add-on-top">
      <p class="side-line"></p>
      <h2>Add Ons</h2>
      <p class="side-line"></p>
    </div>
    <div class="add-on-list">
      <img src="assets/background.png">
      <img src="assets/background.png">
      <img src="assets/background.png">
    </div>
  </div>

  <div class="similar-options">
    <div class="similar-options-top">
      <p class="side-line"></p>
      <h2>Similar Options</h2>
      <p class="side-line"></p>
    </div>
    <div class="similar-options-list">
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <img class="certified show" src="assets/award.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
      <div class="search-result">
        <img class="main-img" src="assets/background.png">
        <div class="search-result-text">
          <h4>Lagos, Adeola-Odeku, VI</h4>
          <div class="search-result-details">
            <p>Digital Board</p>
            <p class="divider">|</p>
            <p>2019 x 3200</p>
            <p>|</p>
            <p>From N3.5m</p>
          </div>
          <button>Explore</button>
        </div>
      </div>
    </div> 
  </div>-->
</div>