<div class="header">
  <app-header></app-header>
</div>

<div class="product-container">
  <div class="product-wrapper">
    <div class="product-wrapper-top">
      <div class="product-img">
        <img class="main-img-lg" src="{{ asset.data.attributes.asset_image_1 }}">
      </div>
      <div class="product-details">
        <h2>{{ asset.attributes.title }}</h2>
        <div class="type-location">
          <p>{{ asset.attributes.asset_type_group.title }}</p>
          <p class="divider-lg">|</p>
          <p>{{ asset.attributes.category.title }}</p>
          <p class="divider-lg">|</p>
          <p>{{ asset.attributes.location }}</p>
        </div>
        <div class="main-desc">
          <p class="bold">Description</p>
          <p class="normal">{{ asset.attributes.description }}</p>
        </div>
        <div class="size-price">
          <div>
            <p class="bold">Size</p>
            <!-- {{ asset.attributes. }} -->
            <p class="normal">{{ asset.attributes.asset_specification }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Bidding Price</p>
            <p class="normal">{{ asset.attributes.minimum_price }}</p>
          </div>
        </div>
        <div class="crowd-eyes">
          <div>
            <p class="bold">Crowd Analytics</p>
            <p class="normal">{{ asset.attributes.crowd_analytics }} per hour</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Eyeballs per Day</p>
            <p class="normal">{{ asset.attributes.eyeballs_per_day }}</p>
          </div>
        </div>
        <div class="audience-time">
          <div>
            <p class="bold">Proposed Audience Pack</p>
            <p class="normal">{{ asset.attributes.proposed_audience_pack }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Audience Dwell Time</p>
            <p class="normal">RAW - 5 mins per Individual</p>
          </div>
        </div>
        <div class="map-crowd">
          <div>
            <p class="bold">Map Coordinates</p>
            <p class="normal">{{ asset.attributes.latlng }}</p>
          </div>
          <p class="line-divider"></p>
          <div>
            <p class="bold">Crowd Analysis</p>
            <p class="normal">RAW - Plenty people dey sha</p>
          </div>
        </div>
      </div>
    </div>
    <div class="product-wrapper-bottom">
      <div>
        <p class="normal bid-button" (click)="showMediaBuyerForm()">
          Make Request &nbsp; <span> {{ asset.data.attributes.minimum_price | currency: 'NGN' }}</span>
        </p>
        <!-- <p>♥</p> -->
      </div>
      <!-- <p>Star</p> -->
    </div>
  </div>

  <form class="media-buyer-form" [ngStyle]="{'right':mediaBuyerForm === true ? '0em' : '-30em' }">
    <span (click)="closeBookingDialog()" style="font-size: 30px; margin-left: 20px; text-align: left; color: white; cursor: pointer;">X</span>
      <!--  [ngStyle]="{'display':mediaBuyerForm === true ? 'block' : 'none' }"
        -->

        <div class="form-all" *ngIf="loginReq">
            <h1 style="color: white">Login Required</h1>      
            
            <div>
              <p>Email </p>
              <input [(ngModel)]="user.email" name="email" type="email" placeholder="type here..">
            </div>
       
            <div>
              <p>Password</p>
              <input [(ngModel)]="user.password" name="password" type="password" placeholder="type here..">
            </div>
       
              <div *ngIf="showReg">
                <p>Name</p>
                <input [(ngModel)]="user.name" name="uname" type="text" placeholder="type here..">
              </div>
        
              <div *ngIf="showReg">
                <p>Phone number</p>
                <input [(ngModel)]="user.phonenumber" name="phone" type="text" placeholder="type here..">
              </div>
       
            <button type="submit" (click)="authenticateUser()">{{showReg ? "Register" : "Login"}}</button>
            <button class="btn" (click)="showRegister()"> {{showReg ? "Already have an account ? Login" : "Do not have an account, Register"}}  </button>
          </div>
       
   <div class="form-all" *ngIf="!loginReq">

     <div [ngStyle]="{'display':drawer === true ? 'block' : 'none' }">
       <p>Type of Campaign</p>
       <div class="select">
         <select name="campaign-type">
           <option value="board">Board</option>
           <option value="PRO-ad">PRO-ad</option>
         </select>
       </div>
     </div>

     <div class="selected" *ngIf="asset.id > 0">
       <p>Board Campaign</p>
       <p class="title">{{ asset.attributes.title }}</p>
       <div>
         <p>{{ asset.attributes.asset_type_group.title }}</p>
         <p class="divider"></p>
         <p>{{ asset.attributes.category.title }}</p>
         <p class="divider"></p>
         <p>{{ asset.attributes.location }}</p>
       </div>
       <p class="change" routerLink="/search">change</p>
     </div>

     <div>
        <p>Contact Person Name</p>
        <input [(ngModel)]="booking.contact_person_name" name="contact_person_name"  type="text" placeholder="type here..">
      </div>

     <div>
        <p>Contact Person Phone Number</p>
        <input [(ngModel)]="booking.contact_person_phone" name="contact_person_phone" type="text" placeholder="type here..">
      </div>
 
   
         <div>
       <p>Contact Person Email</p>
       <input [(ngModel)]="booking.contact_person_email" name="contact_person_email" type="email" placeholder="type here..">
     </div>

     <div>
       <p>Campaign Budget</p>
       <input [(ngModel)]="booking.campaign_budget" name="campaign_budget" type="number" placeholder="type here..">
     </div>

     <div>
       <p>Campaign Duration (in months)</p>
       <input [(ngModel)]="booking.campaign_duration" name="campaign_duration" type="number" placeholder="type here..">
     </div>

     <button type="submit" (click)="makeBooking()">Submit</button>
   </div>

 </form>
</div>