<div class="header">
  <app-header></app-header>
</div>

<div class="container">
  <form class="search-bar" [formGroup]="mainform" (onSubmit)="goSearch(mainform)">
    <select name="adlocation" formControlName="adlocation">
      <option value="">Choose location for your advert</option>
      <option value="vi">Victoria Island, Lagos</option>
      <option value="yb">Yaba, Ebute-Meta, Lagos</option>
    </select>
    <p class="divider"></p>
    <select name="adcate" formControlName="adcate">
      <option value="">Choose Category</option>
      <option value="1">Board</option>
      <option value="2">PRO-ads</option>
    </select>
    <button type="submit">GO!</button>
  </form>
<!-- <p>Value: {{ mainform.value | json }}</p> -->
<!-- <p>Value: {{ filterform.value | json }}</p> -->
<div class="search-content">
  <div class="filter">
    <form>
      <div class="board-cats">
        <input id="static" type="checkbox">
        <label for="static">Static</label>
        <input id="dynamic" type="checkbox">
        <label for="dynamic">Dynamic</label>
      </div>
      <div class="size-filter">
        <div class="size-filter-top" [ngClass]="{'dark top': sizes }" (click)="showSizeOptions()">
          <p>All Sizes</p>
          <img src="assets/ic-play-arrow-24-px.svg">
        </div>
        <div class="size-filter-options">
          <input id="big-size" type="checkbox" value="big-size">
          <label for="big-size">2000 x 400</label>
          <input id="small-size" type="checkbox" value="small-size">
          <label for="small-size">1500 x 300</label>
          <input id="medium-size" type="checkbox" value="medium-size">
          <label for="medium-size">1800 x 350</label>
        </div>
      </div>

      <div class="type-filter">
        <div class="type-filter-top" [ngClass]="{'dark top': types }" (click)="showTypeOptions()">
          <p>All Types</p>
          <img src="assets/ic-play-arrow-24-px.svg">
        </div>
        <div class="type-filter-options">
          <input id="flag-pole" type="checkbox" value="flag-pole">
          <label for="flag-pole">Flag Poles</label>
          <input id="mobile-screen" type="checkbox" value="mobile-screen">
          <label for="mobile-screen">Mobile Screens</label>
          <input id="wall-drape" type="checkbox" value="wall-drape">
          <label for="wall-drape">Wall Drapes</label>
          <input id="gantry" type="checkbox" value="gantry">
          <label for="gantry">Gantries</label>
          <input id="led-cube" type="checkbox" value="led-cube">
          <label for="led-cube">LED Cubes</label>
          <input id="other" type="checkbox" value="other">
          <label for="other">Others</label>
        </div>
      </div>

      <div class="price-filter">
        <div class="price-filter-top" [ngClass]="{'dark top': prices }" (click)="showPriceOptions()">
          <p>Price Range</p>
          <img src="assets/ic-play-arrow-24-px.svg">
        </div>
        <div class="price-range-dialogs">
          <div class="range-thumb-track">
            <label>Range</label>
            <input type="range" name="">
          </div>
          <div class="range-numbers">
            <label>From</label>
            <span>
              <input type="number">
              <label>To</label>
              <input type="number">
            </span>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <button type="submit">Apply</button>
      </div>
    </form>
  </div>
  <!-- (click)="viewAsset(asset.id)" -->
  <div class="search-results">
    <div class="search-result" [routerLink]="['/asset', asset.id]" *ngFor="let asset of assets">
      <img class="main-img" src="{{ asset.attributes.asset_image_3 }}">
      <!-- <img class="certified show" src="assets/award.png"> 
        {{ asset.attributes.asset_image_3 }} src="assets/background.png"-->
      <div class="search-result-text">
        <h4>{{ asset.attributes.location }}</h4> 
        <div class="search-result-details">
          <p>{{ asset.attributes.asset_type_group.title }}</p>
          <p class="divider">|</p>
          <p>{{ asset.attributes.category.title }}</p>
          <p class="divider">|</p>
          <p>{{ asset.attributes.asset_specification }}</p>
          <p>|</p>
          <p>N{{ asset.attributes.minimum_price }}</p>
        </div>
        <button>Explore</button>
      </div>
    </div>
  </div>
</div>
</div>