/* You can add global styles to this file, and also import other style files */
body {
    margin: 0em;
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato');
}

p {
	font-weight: 300;
}

.logo-group, .logo {
    outline: none;
}
